@import "~bulma/bulma";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    // Colors
    --black: #010409;
    --white: #FEFEFE;
    --grey: #E4E7EC;
    --dark-grey: #717885;
    --red: #FE8D7E;
    --green: rgb(66, 184, 131);
    --lightblue: rgb(62, 113, 250);
    --medium-emphasis-text: rgb(204, 204, 204);
    --gradient-green-blue: linear-gradient(to right, var(--green), var(--lightblue));

    // Borders
    --border-color: #DDD;

    // Transparencies
    --glass: rgba(255, 255, 255, 0.1);
    --thin-glass: rgba(255, 255, 255, 0.07);
    
    // Bulma
    --bulma-body-color: var(--black);
    --bulma-body-background-color: var(--white);
    --bulma-navbar-background-color: var(--black);
    --bulma-scheme-main: var(--black);
    --bulma-navbar-h: var(--white);
}

#app {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

h1 {
    position: relative;
    color: var(--white);
    font-weight: 700;
    padding-bottom: 10px;
    &.accent-line::before {
        content: "";
        position: absolute;
        bottom: 59%;
        left: 115%;
        width: 40px;
        height: 1px;
        background: var(--gradient-green-blue);
    }
}

p {
    color: var(--medium-emphasis-text);
}

.button {
    border-radius: 0;
    font-weight: 700;
    text-transform: capitalize;
    padding: 0.75rem 1.5rem;
}

.button.is-primary {
    background-color: transparent !important;
    border: 1px solid var(--green);
    color: var(--white);
    transition: .5s;
    &:hover {
        background-color: var(--green) !important;
    }
}


// accent and brand elements
.simple-divider {
    background: var(--gradient-green-blue);
    height: 1px;
    width: 40px;
    margin: 1.5rem 0;
}

.link {
    color: var(--white);
    text-decoration: none;
    position: relative;
    overflow: hidden;
    &:after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0px;
        right: 0px;
        height: 1px;
        border-radius: 999px;
        background-image: linear-gradient(90deg, rgb(66, 184, 131), rgb(62, 113, 250));
        background-size: 200% auto;
        animation: gradient 2s infinite linear;
        opacity: .8;
    }
    &:hover {
        &:after {
            opacity: 1;
        }
    }
    .icon.is-small {
        width: .7rem;
        height: .7rem;
        margin-bottom: 2px;
        margin-left: -2px;
    }
}

@keyframes gradient {
    0% { background-position: 100% 0; }
    100% { background-position: 0 0; }
}