@import "~bulma/bulma";

:root {
    --black: #161719;
    --white: #FEFEFE;
    --grey: #E4E7EC;
    --green: #00EDAE;
    --bulma-body-background-color: var(--white);
    --bulma-navbar-background-color: var(--black);
    --bulma-scheme-main: var(--black);
    --bulma-navbar-h: var(--white);
}